<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256598463732-u6455lckb9246nvkluj2tvjjt5sqe6l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256598463732-u6455lckb9246nvkluj2tvjjt5sqe6l3</string>
	<key>API_KEY</key>
	<string>AIzaSyB2n59LA-mWkNf3Codbbk6EcTJh6x_2Kwc</string>
	<key>GCM_SENDER_ID</key>
	<string>256598463732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PlantAlive</string>
	<key>PROJECT_ID</key>
	<string>plantliveapp</string>
	<key>STORAGE_BUCKET</key>
	<string>plantliveapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256598463732:ios:61471b2acc7dbbddabfaa1</string>
</dict>
</plist>